/* Global settings */

a {
	text-decoration: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Header */

header {
	width:100%;
	height: 5%;
	display:flex;
	top: 5px;
	left: 0;
	position: fixed;
	justify-content: flex-end;
	
}

header a {
	font-size: 13px;
	font-weight: 500;
	color: black;
	align-self: center;
	margin-right: 20px;
}

header a:hover  {
	text-decoration: underline;
	color: #5f6368;
}

#bricks {
	opacity: 0.7;
	width: 18px;
}

#bricks:hover {
	opacity: 1;
}

/* Logo & searchbar */

.logo {
    text-align: center;
    position: relative;
    top: 190px;
}

#googlelogo {
	width: 280px;
}

#magnifier {
	width: 17px;
	opacity: 0.6;
	position: relative;

}

.searchform {
	margin-top: 25px;
}

.searchbar {
	border-width:1px;
    border-radius: 25px;
    padding: 15px;
    border-color: rgba(0, 0, 0, 0.1);
	background-color: white;
	width: 605px;
	padding-left: 43px;
	padding-right: 43px;
	font-size: 14px;
}

.searchbar:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 5px 8px 0 rgba(0, 0, 0, 0.1);

}

button {
	margin-top: 17px;
	padding: 10px;
	font-size: 14px;
	color:#5f6368;
	border: none;
	text-align: center;
	margin-left:3px;
	margin-right:3px;
	background: #f2f2f2;

}

button:hover {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.3);
	cursor: pointer;
}



/* Footer */

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	background: #f2f2f2;
	width: 100%;
	justify-content: space-between;
	padding-top: 13px;
	padding-bottom: 13px;
	border-top: 1px solid #e4e4e4;
}

footer div a{
	font-size: 13px;
	color: #5f6368;
	margin-left: 20px;
	margin-right: 20px;
	font-weight: 500;

}

footer div a:hover {
	text-decoration: underline;
}


